@import "../../../assets/styles/custom-styles";

.photo{
  height: 100%;
  width: 100%;
  @media (min-width: 576px) {
    position: absolute;
    width: unset;
  }
}

h4 {
  padding-bottom: 40px;
}

.important-txt {
  font-weight: bold;
  color: black;
}
