@import "../../../assets/styles/custom-styles";


.watercolor {
  background-image: url("../../../../src/assets/watercolor.png");
  background-size: cover;
}

.photo{
  height: 100%;
  position: absolute;
}

h4 {
  padding-bottom: 40px;
}

.important-txt {
  font-weight: bold;
  color: black;
}

.about-me-container {
  @media (min-width: 576px) {
  }
}
