<div class="second-background" id="o_mnie">
  <div class="title basic-color">O mnie</div>
  <div class="container">
    <hr class="separator-line-basic"/>
    <div class="row justify-content-center about-me-container">
      <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
        <div class="card">
          <div class="imgBx">
            <img src="./assets/eliza.JPG" class="picture"/>
          </div>
          <div class="details">
            <h2>Eliza Makiej</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12 basic-color d-flex align-items-center justify-content-center text-center">
        <h4>Moja przygoda z
          fotografią trwa już <span class="important-txt">ponad 10 lat</span>. Odkąd tylko pamiętam obserwuje
          świat przez
          pryzmat obiektywu. Przez te lata eksperymentowałam i bawiłam się tą sztuką na różne sposoby. Próbowałam
          różnych
          rodzajów fotografii: zdjęć martwej natury, krajobrazów, fotografii produktowej, reportaży czy fotografii
          wnętrz.
          Jednak to <span class="important-txt">fotografia rodzinna bezpowrotnie skradła moje serce</span>.<br/><br/>Po wykonaniu pierwszej sesji
          dziecięcej
          całkowicie przepadłam. Od tamtej pory <span class="important-txt">fotografowanie promiennych uśmiechów i ciepłych rodzinnych momentów
          stało
            się moją codziennością</span>. Uwiecznienie tych chwil napełnia mnie nie tylko prawdziwym szczęściem, ale i
          ogromną
          dawką motywacji do ciągłego rozwoju swojej marki i siebie.
        </h4>
      </div>
    </div>
  </div>
  <div class="row arrow-content d-none d-lg-flex">
    <img src="./assets/pink-down-arrow.svg" class="down-arrow"
         onClick="document.getElementById('voucher_content').scrollIntoView({ behavior: 'smooth'});"/>
  </div>
</div>
