<div class="navigation-container d-none d-lg-flex">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12 nav-options">
        <div class="navigation-item" (click)="scrollToElement('sesje', 'portfolio')">
          Portfolio
        </div>
        <div class="navigation-item" (click)="scrollToElement('studio')">
          Studio
        </div>
        <div class="navigation-item" (click)="scrollToElement('sesje', 'cennik')">
          Oferta
        </div>
      </div>
      <div class="col-2 logo-container">
        <img src="./assets/logooo.png" class="logo" routerLink="/"/>
      </div>
      <div class="col-md-5 col-sm-12 nav-options">
        <div class="navigation-item" (click)="scrollToElement('sesje', 'przygotowanie')">
          Przed sesją
        </div>
        <div class="navigation-item" (click)="scrollToElement('kontakt')">
          Kontakt
        </div>
        <div class="navigation-item" (click)="scrollToElement('o_mnie')">
          O mnie
        </div>
      </div>
    </div>
    <a href="https://www.facebook.com/elizamakiejfotografia" target="_blank">
      <img src="./assets/facebook.svg" class="icon-facebook">
    </a>
    <a href="https://www.instagram.com/elizamakiej.fotografia/?hl=pl" target="_blank">
      <img src="./assets/instagram.svg" class="icon-instagram"/>
    </a>
  </div>

</div>
