<div class="navigation-container">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12 nav-options">
        <div class="navigation-item" routerLink="/" fragment="sesje-portfolio">
          Portfolio
        </div>
        <div class="navigation-item" routerLink="/" fragment="studio">
          Studio
        </div>
        <div class="navigation-item"
             routerLink="/" fragment="sesje">
          Oferta
        </div>
      </div>
      <div class="col-2 logo-container">
        <img src="../assets/logooo.png" class="logo" routerLink="/"/>
      </div>
      <div class="col-md-5 col-sm-12 nav-options">
        <div class="navigation-item" routerLink="/" fragment="sesje-przed-sesja">Przed
          sesją
        </div>
        <div class="navigation-item"
             routerLink="/" fragment="kontakt">
          Kontakt
        </div>
        <div class="navigation-item" routerLink="/" fragment="o_mnie">O
          mnie
        </div>
      </div>
    </div>
  </div>
  <a href="https://www.facebook.com/elizamakiejfotografia" target="_blank">
    <img src="./assets/facebook.svg" class="icon-facebook">
  </a>
  <a href="https://www.instagram.com/elizamakiej.fotografia/?hl=pl" target="_blank">
    <img src="./assets/instagram.svg" class="icon-instagram"/>
  </a>
</div>
