<div class="navigation-container">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12 nav-options">
        <div class="navigation-item"
             onClick="document.getElementById('sesje').scrollIntoView({ behavior: 'smooth', block: 'center' });">
          Portfolio
        </div>
        <div class="navigation-item"
             onClick="document.getElementById('studio').scrollIntoView({ behavior: 'smooth', block: 'center' });">
          Studio
        </div>
        <div class="navigation-item"
             onClick="document.getElementById('sesje').scrollIntoView({ behavior: 'smooth', block: 'center' });">
          Oferta
        </div>
      </div>
      <div class="col-2 logo-container">
        <img src="../assets/logooo.png" class="logo" routerLink="/"/>
      </div>
      <div class="col-md-5 col-sm-12 nav-options">
        <div class="navigation-item"
             onClick="document.getElementById('sesje').scrollIntoView({ behavior: 'smooth', block: 'center' });">Przed
          sesją
        </div>
        <div class="navigation-item"
             onClick="document.getElementById('kontakt').scrollIntoView({ behavior: 'smooth', block: 'center' });">
          Kontakt
        </div>
        <div class="navigation-item"
             onClick="document.getElementById('o_mnie').scrollIntoView({ behavior: 'smooth', block: 'center' });">O
          mnie
        </div>
      </div>
    </div>
  </div>
  <a href="https://www.facebook.com/elizamakiejfotografia" target="_blank">
    <img src="../assets/facebook.svg" class="icon-facebook">
  </a>
  <a href="https://www.instagram.com/elizamakiej.fotografia/?hl=pl" target="_blank">
    <img src="../assets/instagram.svg" class="icon-instagram"/>
  </a>
</div>
