<div class="basic-background" id="studio">
  <div class="title second-color">Studio</div>
  <div class="container">
    <hr class="separator-line-second"/>
<!--    <carousel [interval]="myInterval" [(activeSlide)]="activeSlideIndex">-->
<!--      <slide *ngFor="let slide of slides">-->
<!--        <div class="d-flex align-items-center justify-content-center">-->
<!--          <img [src]="slide.image" alt="image slide" class="image img-fluid">-->
<!--        </div>-->
<!--      </slide>-->
<!--    </carousel>-->
    <div class="container-all">
      <div class="containerr">
        <img src="./assets/studio/IMG_8836.jpg" alt="">
        <span class="image-title text-center">Studio przystosowane do przyjęcia najmniejszych modeli</span>
      </div>
      <div class="containerr">
        <img src="./assets/studio/IMG_8846.jpg" alt="">
        <span class="image-title text-center">Przytulne miejsce do karmienia</span>
      </div>
      <div class="containerr">
        <img src="./assets/studio/IMG_8851.jpg" alt="">
        <span class="image-title text-center">Pokój przygotowań do sesji</span>
      </div>
      <div class="containerr">
        <img src="./assets/studio/IMG_9671.jpg" alt="">
        <span class="image-title text-center">Duży wybrór dodatkowych akcesorii i rekwizytów</span>
      </div>
      <div class="containerr">
        <img src="./assets/studio/IMG_9678.jpg" alt="">
        <span class="image-title text-center">Szeroki wachlarz ubranek do sesji noworodkowych</span>
      </div>
      <div class="containerr">
        <img src="./assets/studio/IMG_9674.jpg" alt="">
        <span class="image-title text-center">Profesjonalny oświetlenie i wyoskiej jakości sprzęt fotograficzny</span>
      </div>
      <div class="containerr">
        <img src="./assets/studio/IMG_9683.jpg" alt="">
        <span class="image-title text-center">Nowoczesne i jasne studio</span>
      </div>
      <div class="containerr">
        <img src="./assets/studio/IMG_9689.jpg" alt="">
        <span class="image-title text-center">Komfortowe i przyjazne otoczenie </span>
      </div>
      <div class="containerr">
        <img src="./assets/studio/IMG_9675.jpg" alt="">
        <span class="image-title text-center">Możliwa płatność kartą lub gotówką</span>
      </div>
    </div>
  </div>
</div>
