<div class="basic-background" id="studio">
  <div class="title second-color">Studio</div>
  <div class="container">
    <hr class="separator-line-second"/>
    <div class="tabs">

      <input type="radio" id="tab5" name="tab-control-studio" checked>
      <input type="radio" id="tab6" name="tab-control-studio">
      <ul>
        <li title="Delivery Contents"><label for="tab5" role="button">
          <br><span>Tomaszów Bolesławiecki</span></label></li>
        <li title="Delivery Contents"><label for="tab6" role="button">
          <br><span>Wrocław</span></label></li>
      </ul>

      <div class="slider">
        <div class="indicator"></div>
      </div>
      <div class="content">
        <section>
          <img src="./assets/STUDIO.jpg" class="d-sm-none d-lg-flex img-fluid" alt="studio"/>
          <img src="./assets/STUDIO TELEFON.jpg" class="d-sm-flex d-lg-none img-fluid" alt="studio"/>
        </section>

        <section>
          <div class="d-flex justify-content-center">
            <img src="./assets/WRO.jpg" class="img-fluid" alt="studio"/>
          </div>
        </section>
      </div>
    </div>

  </div>
  <div class="row arrow-content">
    <img src="./assets/white-down-arrow.svg" class="down-arrow d-flex"
         onClick="document.getElementById('o_mnie').scrollIntoView({ behavior: 'smooth'});"/>
  </div>
</div>
