@import "../../../assets/styles/colors";

footer {
  background-color: $thirdColor;
  height: 50px;
  color: $whiteColor;
  margin-top: -50px;
}
.icon-facebook {
  height: 30px;
  position: absolute;
  cursor: pointer;
  right: 20px;
}
.icon-instagram {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 70px;
}

a {
  margin-bottom: 30px;
}
