<div class="basic-background" id="voucher_content">
  <div class="title second-color">Spraw bliskim prezent!</div>
  <div class="container">
    <hr class="separator-line-second"/>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 d-flex justify-content-center py-5">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./assets/bonupominkowy.jpg" class="img-fluid"/>
            </div>
            <div class="flip-card-back">
              <img src="./assets/bondrugastrona.jpg" class="img-fluid"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 voucher-text">
    <div class="content">
      <h5 class="d-flex align-items-center justify-content-center text-center text">
          Podarowanie bliskiej osobie profesjonalnej sesji fotograficznej to najlepszy pomysł na prezent, który nigdy
          nie straci swojej wartości. Kiedy ze wzruszeniem wracacie do tych cudownych chwil, uchwycone na zdjęciach
          wspomnienia wywołują emocje, jakich nie jest w stanie zbudzić nic innego. Bon prezentowy możesz podarować na
          różne okazje. Ważność bonu to okres 6 miesięcy od daty zakupu, a cena zależy od rodzaju sesji i liczby osób
          biorącej w niej udział.
      </h5>
    </div>
    <div class="d-flex justify-content-center pb-5 pb-lg-0">
      <button type="button" class="btn portfolio-button"
              onClick="document.getElementById('kontakt').scrollIntoView({ behavior: 'smooth'});">
        Kup bon upominkowy
      </button>
    </div>
  </div>
  <div class="row arrow-content d-none d-lg-flex">
    <img src="./assets/white-down-arrow.svg" class="down-arrow"
         onClick="document.getElementById('kontakt').scrollIntoView({ behavior: 'smooth'});"/>
  </div>
</div>
