<div class="basic-background" id="voucher_content">
  <div class="title second-color">Spraw bliskim prezent!</div>
  <div class="container">
    <hr class="separator-line-second"/>
    <div class="row justify-content-center">
      <div class="col-7">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="../assets/bonupominkowy.jpg"/>
            </div>
            <div class="flip-card-back">
              <img src="../assets/bondrugastrona.jpg"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="content">
          <div class="basic-color d-flex align-items-center justify-content-center text-center text">
            Szukasz oryginalnego pomysłu na prezent, który na długo pozostanie w pamięci?
            Profesjonalna sesja fotograficzna to świetny pomysł na prezent a okazji na podarowanie bonu może być wiele.
            Bon upominkowy ważny jest przez 6 miesięcy od daty zakupu a jego cena zależy od rodzaju sesji i ilości osób
            biorących w niej udział.
          </div>
        </div>

        <button type="button" class="btn portfolio-button" routerLink="/kontakt">
          Kup bon upominkowy
        </button>

      </div>
    </div>
  </div>
  <div class="row arrow-content">
    <img src="./assets/white-down-arrow.svg" class="down-arrow"
         onClick="document.getElementById('kontakt').scrollIntoView({ behavior: 'smooth', block: 'center' });"/>
  </div>
</div>
