<div class="first-page">
  <div class="text">
    <h1>Profesjonalne sesje zdjęciowe</h1>
    <hr class="separator separator--line"/>
    <p>Fotografia rodzinna, ciążowa i noworodkowa</p>
    <div class="button-container">
      <button type="button" class="btn portfolio-button"
              onClick="document.getElementById('sesje').scrollIntoView({ behavior: 'smooth', block: 'center' });">
        Sprawdź portfolio
      </button>
    </div>
  </div>

  <div class="row arrow-content">
    <img src="./assets/white-down-arrow.svg" class="down-arrow"
         onClick="document.getElementById('sesje').scrollIntoView({ behavior: 'smooth', block: 'center' });"/>
  </div>
</div>
