@import "../../../assets/styles/custom-styles";

.first-page {
  background-image: url("../../../../src/assets/background-FH.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  @media (min-width: 576px) {
    background-image: url("../../../../src/assets/background-FH.jpg");
    background-size: cover;
    justify-content: right;
  }
}

:host {
  color: $whiteColor;
}

.text {
  position: absolute;
  bottom: 0;
  padding-bottom: 100px;
  opacity: 0.8;
  @media (min-width: 576px) {
    left: 30px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  @media (min-width: 576px) {
    justify-content: flex-start;
  }
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.separator {
  border: 0;
}

.separator--line {
  border-bottom: 3px solid $whiteColor;
  width: 0;
  animation: separator-width 3s ease-out forwards;
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.logo {
  position: absolute;
  top: 0;
  height: 160px;
  margin-left: 4px;
}

.portfolio-button {
  color: $whiteColor;
  border: 1px solid $whiteColor;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.portfolio-button:hover {
  background-color: $whiteColor;
  color: $primaryColor;
  border: 1px solid $primaryColor;
}

//

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

#overlay-button {
  position: absolute;
  left: 2em;
  top: 3em;
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  color: white;

  span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all .2s ease-in-out;

    &:before {
      top: -10px;
      visibility: visible;
    }

    &:after {
      top: 10px;
    }

    &:before, &:after {
      background-color: white;
      height: 4px;
      width: 35px;
      border-radius: 2px;
      position: absolute;
      content: "";
      transition: all .2s ease-in-out;
    }
  }

  &:hover span, &:hover span:before, &:hover span:after {
    background-color: white;
  }
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
}

input[type=checkbox]:checked ~ #overlay-button {
  &:hover span, span {
    background: transparent;
  }

  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }

    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

#overlay {
  height: 100%;
  width: 100%;
  background: $primaryColor;
  z-index: 2;
  visibility: hidden;
  position: absolute;

  &.active {
    visibility: visible;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;

    li {
      padding: 1em;

      a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;

        &:hover {
          color: #333332;
        }
      }
    }
  }
}
